

.cell {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: 1px solid gray;
  box-sizing: border-box;
  background-color: white;
}

.board {
  display: inline-block;
  text-align: center;
}

.score {
  font-size: 2.5rem;
}